div
  p(style="font-size: 30px; text-align: center; font-weight: bold; color: grey") #{error.status}
  p(style="font-size: 100px; text-align: center; font-weight: bold; color: grey") ┗( T﹏T )┛
pre #{error.stack}